<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Управление клиентами</title>
</head>
<body>
    <h1>Управление клиентами</h1>

    <h2>Добавить нового клиента</h2>
    <form action="/create_client" method="post">
        <label for="full_name">Имя:</label>
        <input type="text" id="full_name" name="full_name" required><br><br>

        <label for="phone">Телефон:</label>
        <input type="text" id="phone" name="phone" required><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <input type="submit" value="Добавить клиента">
    </form>

    <h2>Получить список клиентов</h2>
    <form action="/get_all_clients" method="get">
        <input type="submit" value="Получить список клиентов">
    </form>