<!DOCTYPE html>
<html>
<head>
    <title>Список заказов</title>
</head>
<body>
    <h1>Список заказов</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя сотрудника</th>
                <th>Имя клиента</th>
                <th>Дата заказа</th>
                <th>Статус заказа</th>
                <th>ID продукта</th>
            </tr>
        </thead>
        <tbody>
            {% for orders in orders %}
            <tr>
                <td>{{ orders[0] }}</td>
                <td>{{ orders[1] }}</td>
                <td>{{ orders[2] }}</td>
                <td>{{ orders[3] }}</td>
                <td>{{ orders[4] }}</td>
                <td>{{ orders[5] }}</td>
                <td>{{ orders[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>