<!DOCTYPE html>
<html>
<head>
    <title>Список заказов</title>
</head>
<body>
    <h1>Список заказов</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id сотрудника</th>
                <th>Id клиента</th>
                <th>Id продукта</th>
                <th>Стоимость заказа</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders%}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
                <td>{{ order[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
